.section_2_container{
    
    .section_2{
        position: relative;
        padding: 100px 100px 80px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .section_2_hr {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: calc(100% - 200px);
            margin: auto;
            height: 0.5px;
            background-color: hsla(230, 7.32%, 16.08%, 1);
            border: 0px;
        }

        .section_2_top{
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2{
                font-size: 28px;
                color: #fff;
                font-weight: 500;
                filter: blur(0.8px);
            }
            .section_2_top_title_more_div{
                display: flex;
                gap: 5px;

                p{
                    font-size: 16px;
                    color: #fff;
                    font-weight: 400;
                    filter: blur(0.6px);
                    cursor: pointer;
                    transition: all 0.3s;
                }
                i{
                    color: #fff;
                    filter: blur(0.6px);
                    transition: all 0.3s;
                }
                &:hover{
                    
                    i{
                        color: #CE1C1C;
                        transition: all 0.3s;
                        transform: translate(5px, -4px);
                    }
                    p{
                        color: #CE1C1C;
                    }
                }
            }


        }
        .section_2_bottom{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30px;

            .section_1_bottom_top_box_card {
                max-width: 352px;
                width: 100%;
                max-height: 278px;
                height: 100%;
                display: flex;
                gap: 10px;
                flex-direction: column;

                .section_1_bottom_top_box_main_card {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    overflow: hidden;
                    border-radius: 40px;

                    .main_image {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: all 0.3s;
                        transform: scale(1.10);

                    }

                    .filter_background {
                        background-image: linear-gradient(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.84));
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        // top: -7px;
                        top: 0;
                        left: 0;

                        .play_image {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 73px;
                            height: 73px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid rgba(255, 255, 255, 0.49);
                            border-radius: 1e12px;
                            background-color: rgba(255, 255, 255, 0.485);
                            transition: all 0.3s;
                            cursor: pointer;


                            img {
                                transition: all 0.3s;
                                width: 25px;
                                height: 25px;
                            }

                            &:hover {
                                width: 65px;
                                height: 65px;
                                transition: all 0.3s;

                                img {
                                    transition: all 0.3s;
                                    transform: scale(0.90);
                                }

                            }
                        }


                    }
                }

                .section_1_bottom_top_box_card_positionContent {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    img {
                        width: 94px;
                        height: 94px;
                        border-radius: 100%;
                    }

                    h2 {
                        font-size: 22px;
                        color: #fff;
                        font-weight: 500;
                        margin-bottom: 10px;
                        filter: blur(0.6px);
                    }

                    p {
                        margin-top: auto;
                        font-size: 14px;
                        color: #B9BABF;
                        font-weight: 500;
                        letter-spacing: 1px;
                        display: flex;
                        align-items: center;
                        filter: blur(0.5px);


                        i {
                            font-size: 20px;
                            margin-right: 5px;
                        }

                        span {
                            width: 10px;
                            height: 1px;
                            // background-color: hsla(230, 4.48%, 73.73%, 1);
                            background-color: hsla(250, 2.97%, 39.61%, 1);
                            margin: 0 8px;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 992px){
    .section_2_container{
        .section_2{
            padding: 100px 24px !important;
            .section_2_hr{
                width: calc(100% - 48px) !important;
            }
            .section_2_bottom{
                grid-template-columns: 1fr 1fr !important;
                .section_1_bottom_top_box_card{
                    max-width: 100% !important;
                    max-height: 335px !important;


                    .section_1_bottom_top_box_main_card{
                        border-radius: 35px !important;    
                        width: 100% !important;
                        max-height: 254px !important;

                        .main_image{
                            width: 100% !important;
                            height: 100% !important;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 767px){
    .section_2_container{
        .section_2{
            padding: 100px 16px !important;
            .section_2_bottom{
                grid-template-columns: 1fr !important;
                .section_1_bottom_top_box_card{
                    max-height: 470px !important;

                    .section_1_bottom_top_box_main_card{
                        max-height: 395px !important;
                        border-radius: 30px !important;    

                       .play_image{
                        width: 65px !important;
                        height: 65px !important;
                       }
                    }
                    .section_1_bottom_top_box_card_positionContent{
                        h2{
                            font-size: 20px !important;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 500px){
    .section_2_container{
        .section_2{
            padding: 50px 16px 60px !important;
            .section_2_top{
                width: 100% !important;
                display: flex !important;
                flex-direction: column !important;
                justify-content: left !important;
                padding-top: 50px !important;
                position: relative !important;
                
                h2{
                    position: absolute !important;
                    left: 0 !important;
                    top: -10px !important;
                }
                .section_2_top_title_more_div{
                    position: absolute !important;
                    left: 0 !important;
                    bottom: -10px !important;
                    p{
                        text-align: left !important;
                    }
                }
            }
    
            .section_2_bottom{
                .section_1_bottom_top_box_card{
                    .section_1_bottom_top_box_main_card{
                        max-height: 395px !important;
                        border-radius: 20px !important;    

                       .play_image{
                        width: 65px !important;
                        height: 65px !important;
                       }
                    }
                    .section_1_bottom_top_box_card_positionContent{
                        h2{
                            font-size: 18px !important;
                        }
                    }
                }
            }
        }
    }
}